body {
    font-family: 'Poppins', sans-serif;
    /* background-color: var(--lg-color); */
}

:root {
    --pr-color : #DB5C01;
    --sc-color : #F8A73F;
    --th-color : #CBB796;
    --bl-color : #1B1612;
    --lg-color : #99998F;
}

.btn-secondary {
    color: #000;
    font-weight: 600;
    background: #FFFFFF;
    border-radius: 8px;
}

.btn-secondary:hover {
    color: #fff;
    font-weight: 600;
    background: var(--pr-color);
    border: 2px solid var(--sc-color);
}

* {
    z-index: 2;
}

/* Navbar Section */
.navbar {
    z-index: 3;
}

.navbar-brand {
    font-weight: 500;
}

.navbar .nav-link {
    color: var(--th-color)!important;
}

.navbar .active {
    font-weight: 500;
    color: var(--pr-color)!important;
}

.navbar .nav-link:hover {
    color: var(--sc-color)!important;
}

.navbar .btn-secondary {
    width: 110px;
    height: 45px;
}

/* Hero Section */
#hero {
    color: #FFFFFF;
    background-image: url(/Assets/img/albert-hyseni-zsv5l3JaMGU-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    /* min-height: 100vh; */
}

#hero .overlay {
    background: rgba(0, 0, 0, 0.7);
}

#hero h1 {
    font-size: 64px;
    font-weight: 600;
    display: inline-block;
    white-space: normal;
    line-height: 96px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 20px;
    margin-bottom: 60px;
}

#hero .btn-secondary {
    width: 200px;
    height: 50px;
}

#hero span {
    color: var(--sc-color);
}

#hero h1:hover span {
    color: var(--pr-color);
}

/* Schedule Section */

#schedule {
    padding: 100px 0;
}

#schedule h2 {
    color: var(--bl-color);
}

#schedule .card {
    padding: 30px;
}

#schedule .circle {
    width: 85px;
    height: 85px;
    background-color: #fff;
    border-radius: 50%;
}

#schedule .schedule-title span {
    color: var(--pr-color);
}

#schedule .schedule-title:hover span {
    color: var(--sc-color);
}


#schedule .card:hover {
    color: #fff;
    background: linear-gradient(160deg, var(--sc-color), var(--pr-color));
    border: 1px solid var(--pr-color);
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.2);
}

#schedule .card:hover span {
    color: #fff;
}


/* Package Section */
#package .card {
    border-radius: 10px;
}

#package .card span {
    font-size: 81px;
    font-weight: 500;
}

#package .list-feature {
    font-size: 12px;
    margin-top: 20px;
}

#package .list-group {
    border-radius: 0 0 10px 10px;
}

#package .card:hover {
    color: #fff;
    background: linear-gradient(160deg, var(--sc-color), var(--pr-color));
    border: 1px solid var(--pr-color);
    box-shadow: 0 0 7px 4px rgba(0, 0, 0, 0.2);;
}

#package .card:hover .list-group-item {
    color: #fff;
    background-color: var(--bl-color);
}

/* Card Trainer */

.button-trainer {
    width: 238px;
    height: 63px;
    background-color: var(--pr-color);
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}

#trainer h2 {
    font-size: 48px;
    font-weight: 500;
}

.card-trainer h5 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 50px;
}

.card-trainer p {
    color: #ffffff;
    font-size: 14px;
}

.card-trainer button {
    background-color: var(--pr-color);
    color: #ffffff;
    border: none;
    width: 150px;
    height: 45px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 50px;
}

.card-trainer .overlay {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: all ease-in-out .3s;
}

.card-trainer .overlay:hover {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
}

.button-arrow-left {
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: var(--pr-color);
    padding: 0;
}

.button-arrow-right {
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: var(--pr-color);
    padding: 0;
}

/* Car Section */
#car h4 {
    font-weight: 600;
}

#car .card:hover {
    background-color: #f8f8f8;
    border: 1px solid var(--pr-color);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}

#car .card:hover p {
    color: var(--pr-color);
    
}

#car .card .rounded-pill {
    background-color: var(--pr-color)!important;
}

#car .btn-car {
    background-color: var(--bl-color);
    color: #ffffff;
    border: none;
    width: 150px;
    height: 45px;
    font-size: 18px;
    font-weight: 500;
}

/* Contact Section */
#contact span {
    font-weight: 600;
    display: inline-block;
}

.btn-send {
    background-color: var(--bl-color);
    color: #ffffff;
    border: none;
    width: 150px;
    height: 45px;
    font-size: 18px;
    font-weight: 500;
}